* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    /* neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);


    --pragraph: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--cream);
    display: grid;
    place-items: center;
    transform: scale(0.8);
}

img {
    width: 100%;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.white-main {
    background-color: var(--white);
}

.dark-main {
    background-color: var(--very-dark-blue);
}

.article {
    padding: 1.2rem 1.2rem 0 1.2rem;    
}

.article__header > h1 {
    font-size: 1.9rem;
    margin: 0.7rem 0 0.7rem 0;
    color: var(--very-dark-blue);
}

.header__info {
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    font-size: 0.8rem;
}

.header__span {
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
}

.article__text {
    font-size: var(--pragraph);
    color: var(--dark-grayish-blue)
}

.article__price {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.article__price > h2 {
    font-size: 1.6rem;
    color: var(--dark-cyan);
}

.article__price > span {
    margin-left: 1rem;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.submit-button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin: 1.2rem 0 1.2rem 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    place-content: center;
    gap: 14px
}

.submit-button > img {
    width: 18px;
}



.submit-button:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 28%);;
}

/* toggle button to change theme */
.header__check {
    display: block;
    width: 36px;
    height: 20px;
    border-radius: 4rem;
    background-color: var(--dark-grayish-blue);
}

.header__dark {
    opacity: 0;
    position: absolute;
}

.ball {
    display: block;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px; 
    height: 16px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--white);
    transition: transform 0.2s linear;
}

.header__dark:checked + .ball {
    transform: translateX(17px);
    background-color: black;
}


/* change to dark mode  */

.dark .header__check {
    background-color: white;
}

.dark .header__span {
    color: var(--cream);
}

.dark h1 {
    color: var(--white);
}

.dark .article__text {
    color: var(--cream);
}

.dark .article__price > span {
    color: var(--cream);
}

.dark .submit-button {
    box-shadow: 4px 4px 40px hsl(158, 76%, 37%);
}



@media (min-width: 600px) {
    .main {
        flex-direction: row;
        max-width: 60%;
        min-width: 15rem;
        margin: 0 auto;
    }

    .article {
        max-width: 18rem;
        padding-right: 3rem;
        display: block;
    }

    .mobile {
        display: none;
    }

    .desktop {
        height: 100%;
        min-width: 10rem;
        display: block;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }